<nav [@animateMenu] class="navbar main-navbar on-top" [class.nav-shadow]='this.pageYPosition>0'>
  <div class="container">
    <a class="navbar-brand text-light" [routerLink]="'inicio'">
      <img src='assets/images/logo.png' width='100'/>
    </a>
    <ul ngbNav #nav="ngbNav" class="menu-ul">
      <li ngbNavItem>
        <a ngbNavLink (click)='scroll("about")'><span
          class="underline nav-text"> {{ "Header.Item1" | translate }}</span></a>
        <ng-template ngbNavContent>First content</ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink (click)='scroll("services")'> <span
          class="underline nav-text"> {{ "Header.Item2" | translate }}</span></a>
        <ng-template ngbNavContent>Second content</ng-template>
      </li>

      <li ngbNavItem>
        <a ngbNavLink (click)='scroll("contact")'> <span
          class="underline nav-text"> {{ "Header.Item3" | translate }}</span></a>
        <ng-template ngbNavContent>Third content</ng-template>
      </li>
      <li>
        <a class="language-toggle" (click)="toggleLanguage()">
          <span *ngIf='languageFormControl.value == "en"'>English</span>
          <span *ngIf='languageFormControl.value == "ar"'>Arabic</span>
        </a>
      </li>


    </ul>
    <div class="menu-wrapper">
      <div [class.animate]='responsiveMenuVisible' (click)='responsiveMenuVisible = !responsiveMenuVisible'
           class="hamburger-menu"></div>
    </div>
    <div class="menu-responsive" [ngStyle]="{'pointer-events': !responsiveMenuVisible ? 'none' : '' }">
      <aside [class.aside-show]='responsiveMenuVisible' [class.nav-shadow]='this.pageYPosition>0' class="on-top">
        <nav>
          <ol>
            <li>
              <a (click)='scroll("about")'>
                {{ "Header.Item1" | translate }}
              </a>
            </li>
            <li>
              <a (click)='scroll("services")'>
                {{ "Header.Item2" | translate }}
              </a>
            </li>
            <li>
              <a (click)='scroll("contact")'>
                {{ "Header.Item3" | translate }}
              </a>
            </li>
            <li>
              <a class="language-toggle" (click)="toggleLanguage()">
                <span *ngIf='languageFormControl.value == "en"'>English</span>
                <span *ngIf='languageFormControl.value == "ar"'>Arabic</span>
              </a>
            </li>

          </ol>
        </nav>
      </aside>
    </div>
  </div>
</nav>
