<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a href="https://www.sawaedelm.com" target='_blank'>
                    <i class="fab fa-internet-explorer"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a href="mailto:info@sawaedElm.com" target='_blank'>Info&#64;sawaedElm.com </a>
        </div>
    </div>
    <div class="footer-credits text-center" >
            <div class="mt-2">Designed by Sawaed Al Elm &copy; 2025</div>

    </div>

</footer>


