<footer [@animateFooter]>
  <div class="footer-inner">
    <div class="footer-brand">
      <img src='assets/images/logo.png' width='42' alt='Sawaed Al Elm'/>
      <span class="footer-brand-name">Sawaed Al Elm</span>
    </div>
    <div class="footer-links">
      <a href="mailto:info@sawaedElm.com" target='_blank'>
        <i class="fas fa-envelope"></i>
        info&#64;sawaedElm.com
      </a>
      <a href="https://www.sawaedelm.com" target='_blank'>
        <i class="fas fa-globe"></i>
        sawaedelm.com
      </a>
    </div>
    <p class="footer-copy">&copy; {{ currentYear }} Sawaed Al Elm Technologies</p>
  </div>
</footer>


