<section class="section banner">



  <div  class="container">
    <div class="section-box-banner">
      <div class="content">
        <div  class="logo-container">
          <img src="assets/images/logo.png"  class="rotate" />
        </div>
        <div class="banner-title">
          <h2>{{ "Banner.name" | translate }}</h2>
          <h5>{{ "Banner.jobTitle" | translate }}</h5>
        </div>
        <div class="animated-lines">
          <span class="line red"></span>
          <span class="line blue"></span>
          <span class="line green"></span>
        </div>
      </div>
    </div>


  </div>

</section>
