<section class="section banner video-background-section">
  <video autoplay muted loop playsinline>
    <source src="assets/images/welcome2.mp4" type="video/mp4"/>
  </video>

  <div [@bannerTrigger] class="container">
    <div class="section-box-banner">
      <div class="content">
        <div class="banner-title">
          <h2>{{ "Banner.name" | translate }}</h2>
          <h5>{{ "Banner.jobTitle" | translate }}</h5>
        </div>
      </div>
    </div>

    <div [@bannerTrigger] class="logo-container">
      <img src="assets/images/logo.png" class="rotate" />
    </div>
  </div>
</section>
