<section class="section contact-section" id="contact">
  <div class="container">
    <div class="section-box">
      <div class="contact-inner" data-aos="fade-up" data-aos-duration="800">
        <p class="contact-pre">{{ "Contact.Pretitle" | translate }}</p>
        <h2 class="contact-heading">{{ "Contact.Title" | translate }}</h2>
        <p class="contact-text">{{ "Contact.Content" | translate }}</p>
        <a href="mailto:info@sawaedelm.com" target="_blank" class="btn-contact">
          <i class="fas fa-envelope"></i>
          <span>{{ "Contact.Btn" | translate }}</span>
        </a>
      </div>
    </div>
  </div>
</section>
