<section class="section more-proyects" id="services">
    <div class="container">
        <div class="section-box">
            <div class="">
                <h3 class="section-title">
                    <span class='n-section-title'></span> {{"OtherProjects.Title" | translate}}
                </h3>
            </div>
            <div class="mt-5">
                <div class="row p-0">

                  <div *ngFor="let project of projects; let i = index"
                       class="col-12 col-md-6 col-lg-6 col-xl-4 proyect-col"
                       data-aos="fade-up"
                       data-aos-duration="1000">

                    <div class="more-proyect-box">
                      <div class="row w-100 text-left m-0 p-0">
                        <h5 class="other-proyect-title mt-4">{{ project.Title }}</h5>

                        <div *ngFor="let img of project.imgs">
                          <img [src]="img" alt="Project image" class="img-fluid my-2"/>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>

            </div>
            <!-- <div class="w-100 text-center mt-5 pt-5">
                <a [routerLink]="'/proyectos'" class='main-btn'>Ver todo</a>
            </div> -->
        </div>
    </div>
</section>
