@import "./variables.scss";

body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $Navy;
  color: $Slate;
  line-height: 1.5;
  font-family: $MainFont;
  font-size: 18px;
}

.section-box {
  padding: 100px 0;
}

.section {
  background: $Navy;
}

.code-font {
  font-family: $CodeFont;
}

.e-font {
  font-family: $MainFont;
}

.section-title {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 600;
  color: $LightestSlate;
  font-family: $MainFont;
  margin: 0 0 50px;
  white-space: nowrap;

  .n-section-title {
    margin-right: 10px;
    font-family: $CodeFont;
    font-weight: normal;
    color: $Green;
    font-size: 18px;
    position: relative;
    bottom: 2px;
  }

  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 260px;
    background: linear-gradient(90deg, $LightestNavy, transparent);
    position: relative;
    margin-left: 20px;
    flex-shrink: 0;
  }
}

.main-btn {
  color: $Green;
  background-color: transparent;
  border: 1.5px solid $Green;
  border-radius: 4px;
  font-size: 14px;
  font-family: $CodeFont;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 1.25rem 1.75rem;

  &:hover,
  &:focus,
  &:active {
    background-color: $GreenOpacity;
    outline: none;
    color: $Green;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $Green;
  }
}

.underline {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: $Green !important;
}

.underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 3px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: $Green;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0%;
}

.underline:hover:after {
  width: 100%;
  left: 0;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 22px;
    white-space: normal;

    &:after {
      display: none;
    }
  }

  .section-box {
    padding: 70px 0;
  }

  .container {
    width: 90%;
  }
}

@media (max-width: 30em) {
  body {
    font-size: 16px;
  }
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

/* Default Left-to-Right (LTR) styling */
[dir="ltr"] body {
  text-align: left;
  direction: ltr;
}

/* Right-to-Left (RTL) styling */
[dir="rtl"] body {
  text-align: right;
  direction: rtl;
}

[dir="ltr"] * {
  direction: ltr;
}

[dir="rtl"] * {
  direction: rtl;
}



